* {box-sizing: border-box}
body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  width: 100%;
  background-color: #ACA7BB;
  overflow: auto;
}

.navbar a {
  float: left;
  padding: 12px;
  color: white;
  text-decoration: none;
  font-size: 12px;
  width: 20%; /* Four links of equal widths */
  text-align: center;
}

.navbar a:hover {
  background-color: #000;
}

.navbar a.active {
  background-color: #086776;
}



@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}

.main {
  max-width: 1000px;
  margin: auto;
}

.row {
    margin: 10px ;
  }

/* Add padding BETWEEN each column */
  .row,
  .row > .column {
    padding: 8px;
  }

 /* Create three equal columns that floats next to each other */
  .column {
    float: left;
    width: 33.33%;
    display: none; 
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    background-color: #f1f1f1;
  }
  .card img{
    aspect-ratio: 1;
    object-fit: cover;
    border: 1px solid #ccc
  }

  .show {
    display: block;
  }